In [11]:
import pandas as pd
df=pd.read_csv("weather.csv")
type(df.Date[0])

str

In [9]:
#converting str data type to Timestamp
df=pd.read_csv("weather.csv",parse_dates=['Date'])
type(df.Date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [14]:
df.set_index('Date',inplace=True)
df

,Unnamed: 0,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
Date,,,,,,,,,,,,,,,,,,,,,
2008-12-01,0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
2008-12-02,1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2008-12-03,2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
2008-12-04,3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
2008-12-05,4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-03-09,24995,Penrith,16.5,30.0,0.0,NaN,NaN,NE,26.0,SSE,...,41.0,NaN,NaN,NaN,NaN,21.6,29.4,No,0.0,No
2013-03-10,24996,Penrith,16.7,30.5,0.0,NaN,NaN,NE,24.0,ESE,...,44.0,NaN,NaN,NaN,NaN,21.3,29.0,No,0.0,No
2013-03-11,24997,Penrith,18.3,29.8,0.0,NaN,NaN,ENE,26.0,NaN,...,49.0,NaN,NaN,NaN,NaN,20.6,28.2,No,0.0,No
2013-03-12,24998,Penrith,17.5,28.1,0.0,NaN,NaN,NNE,22.0,S,...,54.0,NaN,NaN,NaN,NaN,21.2,26.8,No,0.0,No
2013-03-13,24999,Penrith,15.4,30.9,0.0,NaN,NaN,NE,24.0,NE,...,39.0,NaN,NaN,NaN,NaN,20.0,30.3,No,0.0,No

In [15]:
newdf=df.fillna(0)
newdf

,Unnamed: 0,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
Date,,,,,,,,,,,,,,,,,,,,,
2008-12-01,0,Albury,13.4,22.9,0.6,0.0,0.0,W,44.0,W,...,22.0,1007.7,1007.1,8.0,0.0,16.9,21.8,No,0.0,No
2008-12-02,1,Albury,7.4,25.1,0.0,0.0,0.0,WNW,44.0,NNW,...,25.0,1010.6,1007.8,0.0,0.0,17.2,24.3,No,0.0,No
2008-12-03,2,Albury,12.9,25.7,0.0,0.0,0.0,WSW,46.0,W,...,30.0,1007.6,1008.7,0.0,2.0,21.0,23.2,No,0.0,No
2008-12-04,3,Albury,9.2,28.0,0.0,0.0,0.0,NE,24.0,SE,...,16.0,1017.6,1012.8,0.0,0.0,18.1,26.5,No,1.0,No
2008-12-05,4,Albury,17.5,32.3,1.0,0.0,0.0,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-03-09,24995,Penrith,16.5,30.0,0.0,0.0,0.0,NE,26.0,SSE,...,41.0,0.0,0.0,0.0,0.0,21.6,29.4,No,0.0,No
2013-03-10,24996,Penrith,16.7,30.5,0.0,0.0,0.0,NE,24.0,ESE,...,44.0,0.0,0.0,0.0,0.0,21.3,29.0,No,0.0,No
2013-03-11,24997,Penrith,18.3,29.8,0.0,0.0,0.0,ENE,26.0,0,...,49.0,0.0,0.0,0.0,0.0,20.6,28.2,No,0.0,No
2013-03-12,24998,Penrith,17.5,28.1,0.0,0.0,0.0,NNE,22.0,S,...,54.0,0.0,0.0,0.0,0.0,21.2,26.8,No,0.0,No
2013-03-13,24999,Penrith,15.4,30.9,0.0,0.0,0.0,NE,24.0,NE,...,39.0,0.0,0.0,0.0,0.0,20.0,30.3,No,0.0,No

In [21]:
#we can use dictionary to fill specific value to a specific columns
newdf = df.fillna({
    'Evaporation':0,
    'Sunshine':'no sunshine'
})
newdf
df

,Unnamed: 0,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
Date,,,,,,,,,,,,,,,,,,,,,
2008-12-01,0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
2008-12-02,1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2008-12-03,2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
2008-12-04,3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
2008-12-05,4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-03-09,24995,Penrith,16.5,30.0,0.0,NaN,NaN,NE,26.0,SSE,...,41.0,NaN,NaN,NaN,NaN,21.6,29.4,No,0.0,No
2013-03-10,24996,Penrith,16.7,30.5,0.0,NaN,NaN,NE,24.0,ESE,...,44.0,NaN,NaN,NaN,NaN,21.3,29.0,No,0.0,No
2013-03-11,24997,Penrith,18.3,29.8,0.0,NaN,NaN,ENE,26.0,NaN,...,49.0,NaN,NaN,NaN,NaN,20.6,28.2,No,0.0,No
2013-03-12,24998,Penrith,17.5,28.1,0.0,NaN,NaN,NNE,22.0,S,...,54.0,NaN,NaN,NaN,NaN,21.2,26.8,No,0.0,No
2013-03-13,24999,Penrith,15.4,30.9,0.0,NaN,NaN,NE,24.0,NE,...,39.0,NaN,NaN,NaN,NaN,20.0,30.3,No,0.0,No

In [22]:
#it fill with previos value when it encounter NAN
newdf=df.ffill()
# we can set the limit if you want
newdf=df.ffill(limit=1)
newdf

,Unnamed: 0,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
Date,,,,,,,,,,,,,,,,,,,,,
2008-12-01,0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
2008-12-02,1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,8.0,NaN,17.2,24.3,No,0.0,No
2008-12-03,2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
2008-12-04,3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,2.0,18.1,26.5,No,1.0,No
2008-12-05,4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-03-09,24995,Penrith,16.5,30.0,0.0,NaN,NaN,NE,26.0,SSE,...,41.0,NaN,NaN,NaN,NaN,21.6,29.4,No,0.0,No
2013-03-10,24996,Penrith,16.7,30.5,0.0,NaN,NaN,NE,24.0,ESE,...,44.0,NaN,NaN,NaN,NaN,21.3,29.0,No,0.0,No
2013-03-11,24997,Penrith,18.3,29.8,0.0,NaN,NaN,ENE,26.0,ESE,...,49.0,NaN,NaN,NaN,NaN,20.6,28.2,No,0.0,No
2013-03-12,24998,Penrith,17.5,28.1,0.0,NaN,NaN,NNE,22.0,S,...,54.0,NaN,NaN,NaN,NaN,21.2,26.8,No,0.0,No
2013-03-13,24999,Penrith,15.4,30.9,0.0,NaN,NaN,NE,24.0,NE,...,39.0,NaN,NaN,NaN,NaN,20.0,30.3,No,0.0,No

In [27]:
newdf=df.interpolate()
newdf
#or
newdf=df.infer_objects(copy=False)
newdf

/var/folders/49/g5fpvl6s2qx3jf70qmw2mhhc0000gn/T/ipykernel_52758/2150646444.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  newdf=df.interpolate()

,Unnamed: 0,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
Date,,,,,,,,,,,,,,,,,,,,,
2008-12-01,0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
2008-12-02,1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2008-12-03,2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
2008-12-04,3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
2008-12-05,4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-03-09,24995,Penrith,16.5,30.0,0.0,NaN,NaN,NE,26.0,SSE,...,41.0,NaN,NaN,NaN,NaN,21.6,29.4,No,0.0,No
2013-03-10,24996,Penrith,16.7,30.5,0.0,NaN,NaN,NE,24.0,ESE,...,44.0,NaN,NaN,NaN,NaN,21.3,29.0,No,0.0,No
2013-03-11,24997,Penrith,18.3,29.8,0.0,NaN,NaN,ENE,26.0,NaN,...,49.0,NaN,NaN,NaN,NaN,20.6,28.2,No,0.0,No
2013-03-12,24998,Penrith,17.5,28.1,0.0,NaN,NaN,NNE,22.0,S,...,54.0,NaN,NaN,NaN,NaN,21.2,26.8,No,0.0,No
2013-03-13,24999,Penrith,15.4,30.9,0.0,NaN,NaN,NE,24.0,NE,...,39.0,NaN,NaN,NaN,NaN,20.0,30.3,No,0.0,No

In [28]:
#TO DROP NA VALUES 
newdf=df.dropna()
newdf

,Unnamed: 0,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
Date,,,,,,,,,,,,,,,,,,,,,
2009-01-01,5939,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,...,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,0.0,No
2009-01-02,5940,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,...,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,0.0,No
2009-01-04,5942,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,...,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,0.0,No
2009-01-05,5943,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,...,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,0.0,No
2009-01-06,5944,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,...,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-04-22,23195,NorfolkIsland,19.6,24.3,0.0,5.0,9.1,E,37.0,E,...,65.0,1022.2,1018.9,1.0,5.0,23.3,22.4,No,0.0,No
2016-04-23,23196,NorfolkIsland,16.5,24.1,0.0,5.4,5.8,ENE,31.0,ESE,...,87.0,1017.8,1014.7,7.0,7.0,22.2,21.9,No,2.4,Yes
2016-04-24,23197,NorfolkIsland,20.3,25.6,2.4,1.4,5.2,NNW,39.0,NNW,...,85.0,1013.6,1011.5,7.0,7.0,22.7,23.6,Yes,7.4,Yes
2016-04-25,23198,NorfolkIsland,18.3,23.7,7.4,3.4,6.6,ESE,56.0,ESE,...,73.0,1016.4,1015.8,5.0,4.0,21.9,22.8,Yes,6.6,Yes
2016-04-26,23199,NorfolkIsland,19.0,22.9,6.6,4.0,8.0,SE,52.0,ESE,...,68.0,1021.0,1019.6,3.0,4.0,20.6,20.9,Yes,0.0,No

In [30]:
#TO DROP NA VALUES (IF ALL THE rows ARE empty)
newdf=df.dropna(how="all")
newdf=df.dropna(thresh=2)
newdf

,Unnamed: 0,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
Date,,,,,,,,,,,,,,,,,,,,,
2008-12-01,0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
2008-12-02,1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2008-12-03,2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
2008-12-04,3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
2008-12-05,4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-03-09,24995,Penrith,16.5,30.0,0.0,NaN,NaN,NE,26.0,SSE,...,41.0,NaN,NaN,NaN,NaN,21.6,29.4,No,0.0,No
2013-03-10,24996,Penrith,16.7,30.5,0.0,NaN,NaN,NE,24.0,ESE,...,44.0,NaN,NaN,NaN,NaN,21.3,29.0,No,0.0,No
2013-03-11,24997,Penrith,18.3,29.8,0.0,NaN,NaN,ENE,26.0,NaN,...,49.0,NaN,NaN,NaN,NaN,20.6,28.2,No,0.0,No
2013-03-12,24998,Penrith,17.5,28.1,0.0,NaN,NaN,NNE,22.0,S,...,54.0,NaN,NaN,NaN,NaN,21.2,26.8,No,0.0,No
2013-03-13,24999,Penrith,15.4,30.9,0.0,NaN,NaN,NE,24.0,NE,...,39.0,NaN,NaN,NaN,NaN,20.0,30.3,No,0.0,No

In [ ]:
#if i want to have all the dates in a data set but the dates are missing in it 
dt=pd.date_range("2013-03-13","2008-12-04")
idx=pd.DatetimeIndex(dt)
df=df.reindex(idx)
df

In [40]:
import numpy as np
import pandas as pd
df=pd.read_csv("weather.csv")
df=df.replace([np.NaN],'-99999') 
df

,Unnamed: 0,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,0,2008-12-01,Albury,13.4,22.9,0.6,-99999,-99999,W,44.0,...,22.0,1007.7,1007.1,8.0,-99999,16.9,21.8,No,0.0,No
1,1,2008-12-02,Albury,7.4,25.1,0.0,-99999,-99999,WNW,44.0,...,25.0,1010.6,1007.8,-99999,-99999,17.2,24.3,No,0.0,No
2,2,2008-12-03,Albury,12.9,25.7,0.0,-99999,-99999,WSW,46.0,...,30.0,1007.6,1008.7,-99999,2.0,21.0,23.2,No,0.0,No
3,3,2008-12-04,Albury,9.2,28.0,0.0,-99999,-99999,NE,24.0,...,16.0,1017.6,1012.8,-99999,-99999,18.1,26.5,No,1.0,No
4,4,2008-12-05,Albury,17.5,32.3,1.0,-99999,-99999,W,41.0,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,24995,2013-03-09,Penrith,16.5,30.0,0.0,-99999,-99999,NE,26.0,...,41.0,-99999,-99999,-99999,-99999,21.6,29.4,No,0.0,No
24996,24996,2013-03-10,Penrith,16.7,30.5,0.0,-99999,-99999,NE,24.0,...,44.0,-99999,-99999,-99999,-99999,21.3,29.0,No,0.0,No
24997,24997,2013-03-11,Penrith,18.3,29.8,0.0,-99999,-99999,ENE,26.0,...,49.0,-99999,-99999,-99999,-99999,20.6,28.2,No,0.0,No
24998,24998,2013-03-12,Penrith,17.5,28.1,0.0,-99999,-99999,NNE,22.0,...,54.0,-99999,-99999,-99999,-99999,21.2,26.8,No,0.0,No
24999,24999,2013-03-13,Penrith,15.4,30.9,0.0,-99999,-99999,NE,24.0,...,39.0,-99999,-99999,-99999,-99999,20.0,30.3,No,0.0,No

In [41]:
# we can replace  with list when we have multiple values to be replaced []
newdf=df.replace({
    'temperature':-999999,
    'windspeed':0000,
    'event':'0'
},np.NaN)

In [42]:
#if we want to replce list of values with the list of other value than we can use 
newdf=df.replace(['poor','average','good','exceptional'],[1,2,3,4])
newdf

,Unnamed: 0,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,0,2008-12-01,Albury,13.4,22.9,0.6,-99999,-99999,W,44.0,...,22.0,1007.7,1007.1,8.0,-99999,16.9,21.8,No,0.0,No
1,1,2008-12-02,Albury,7.4,25.1,0.0,-99999,-99999,WNW,44.0,...,25.0,1010.6,1007.8,-99999,-99999,17.2,24.3,No,0.0,No
2,2,2008-12-03,Albury,12.9,25.7,0.0,-99999,-99999,WSW,46.0,...,30.0,1007.6,1008.7,-99999,2.0,21.0,23.2,No,0.0,No
3,3,2008-12-04,Albury,9.2,28.0,0.0,-99999,-99999,NE,24.0,...,16.0,1017.6,1012.8,-99999,-99999,18.1,26.5,No,1.0,No
4,4,2008-12-05,Albury,17.5,32.3,1.0,-99999,-99999,W,41.0,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,24995,2013-03-09,Penrith,16.5,30.0,0.0,-99999,-99999,NE,26.0,...,41.0,-99999,-99999,-99999,-99999,21.6,29.4,No,0.0,No
24996,24996,2013-03-10,Penrith,16.7,30.5,0.0,-99999,-99999,NE,24.0,...,44.0,-99999,-99999,-99999,-99999,21.3,29.0,No,0.0,No
24997,24997,2013-03-11,Penrith,18.3,29.8,0.0,-99999,-99999,ENE,26.0,...,49.0,-99999,-99999,-99999,-99999,20.6,28.2,No,0.0,No
24998,24998,2013-03-12,Penrith,17.5,28.1,0.0,-99999,-99999,NNE,22.0,...,54.0,-99999,-99999,-99999,-99999,21.2,26.8,No,0.0,No
24999,24999,2013-03-13,Penrith,15.4,30.9,0.0,-99999,-99999,NE,24.0,...,39.0,-99999,-99999,-99999,-99999,20.0,30.3,No,0.0,No

In [43]:
g=df.groupby('Location')
g

In [44]:
for Location,Location_df in g:
    print(Location)
    print(Location_df)

Albury
      Unnamed: 0        Date Location MinTemp MaxTemp Rainfall Evaporation  \
0              0  2008-12-01   Albury    13.4    22.9      0.6      -99999
1              1  2008-12-02   Albury     7.4    25.1      0.0      -99999
2              2  2008-12-03   Albury    12.9    25.7      0.0      -99999
3              3  2008-12-04   Albury     9.2    28.0      0.0      -99999
4              4  2008-12-05   Albury    17.5    32.3      1.0      -99999
...          ...         ...      ...     ...     ...      ...         ...
3006        3006  2017-06-21   Albury     1.2    15.2      0.4      -99999
3007        3007  2017-06-22   Albury     0.8    13.4      0.0      -99999
3008        3008  2017-06-23   Albury     1.1    11.9      0.0      -99999
3009        3009  2017-06-24   Albury     1.1    14.1      0.2      -99999
3010        3010  2017-06-25   Albury     3.9    10.9      0.0      -99999

     Sunshine WindGustDir WindGustSpeed  ... Humidity3pm Pressure9am  \
0      -99999           W          44.0  ...        22.0      1007.7
1      -99999         WNW          44.0  ...        25.0      1010.6
2      -99999         WSW          46.0  ...        30.0      1007.6
3      -99999          NE          24.0  ...        16.0      1017.6
4      -99999           W          41.0  ...        33.0      1010.8
...       ...         ...           ...  ...         ...         ...
3006   -99999         ENE          15.0  ...        62.0      1029.4
3007   -99999           W          17.0  ...        66.0      1029.4
3008   -99999          SE          44.0  ...        81.0      1022.3
3009   -99999         WSW          28.0  ...        49.0      1018.8
3010   -99999         NNW          28.0  ...        82.0      1020.5

     Pressure3pm Cloud9am Cloud3pm Temp9am Temp3pm RainToday RISK_MM  \
0         1007.1      8.0   -99999    16.9    21.8        No     0.0
1         1007.8   -99999   -99999    17.2    24.3        No     0.0
2         1008.7   -99999      2.0    21.0    23.2        No     0.0
3         1012.8   -99999   -99999    18.1    26.5        No     1.0
4         1006.0      7.0      8.0    17.8    29.7        No     0.2
...          ...      ...      ...     ...     ...       ...     ...
3006      1026.7      8.0   -99999     2.9    14.3        No     0.0
3007      1025.9      8.0      1.0     3.6    13.3        No     0.0
3008      1017.7      8.0      1.0     2.7    10.2        No     0.2
3009      1017.2      7.0      6.0     3.9    13.1        No     0.0
3010      1018.8      7.0      8.0     6.4     8.8        No     1.4

     RainTomorrow
0              No
1              No
2              No
3              No
4              No
...           ...
3006           No
3007           No
3008           No
3009           No
3010          Yes

[3011 rows x 25 columns]
BadgerysCreek
      Unnamed: 0        Date       Location MinTemp MaxTemp Rainfall  \
3011        3011  2009-01-01  BadgerysCreek    13.3    34.2      0.0
3012        3012  2009-01-02  BadgerysCreek    14.7    26.1      0.0
3013        3013  2009-01-03  BadgerysCreek    13.6    22.3      0.0
3014        3014  2009-01-04  BadgerysCreek    17.7    31.2      0.0
3015        3015  2009-01-05  BadgerysCreek    15.5    38.8      0.0
...          ...         ...            ...     ...     ...      ...
5934        5934  2017-06-21  BadgerysCreek     4.1    19.0      0.2
5935        5935  2017-06-22  BadgerysCreek     6.8    18.3      0.0
5936        5936  2017-06-23  BadgerysCreek     3.8    16.8      0.2
5937        5937  2017-06-24  BadgerysCreek     2.7    18.8      0.0
5938        5938  2017-06-25  BadgerysCreek     0.8    18.6      0.2

     Evaporation Sunshine WindGustDir WindGustSpeed  ... Humidity3pm  \
3011      -99999   -99999           W          61.0  ...      -99999
3012      -99999   -99999          SE          46.0  ...        54.0
3013      -99999   -99999         NNE          30.0  ...        51.0
3014      -99999   -99999          NE          39.0  ...        43.0
3015      -99999   -99999          SW          50.0  ...        19.0
...          ...      ...         ...           ...  ...         ...
5934      -99999   -99999         SSE          26.0  ...        61.0
5935      -99999   -99999          SW          17.0  ...        55.0
5936      -99999   -99999          SW          17.0  ...        64.0
5937      -99999   -99999         SSW          24.0  ...        40.0
5938      -99999   -99999         WSW          31.0  ...        40.0

     Pressure9am Pressure3pm Cloud9am Cloud3pm Temp9am Temp3pm RainToday  \
3011      1005.6      -99999   -99999   -99999    21.0  -99999        No
3012      1012.9      1013.5   -99999   -99999    20.7    22.2        No
3013      1021.9      1019.2   -99999   -99999    17.9    21.7        No
3014      1018.7      1013.6   -99999   -99999    22.0    30.6        No
3015      1013.2      1007.6   -99999   -99999    22.7    37.6        No
...          ...         ...      ...      ...     ...     ...       ...
5934      1026.5      1025.7   -99999   -99999     8.5    16.4        No
5935      1028.8      1024.6   -99999   -99999    10.7    17.9        No
5936      1021.0      1015.1   -99999   -99999     6.8    16.0        No
5937      1017.7      1015.4   -99999   -99999     8.6    18.5        No
5938      1018.8      1015.5   -99999   -99999     6.9    17.8        No

     RISK_MM RainTomorrow
3011     0.0           No
3012     0.0           No
3013     0.0           No
3014     0.0           No
3015     0.0           No
...      ...          ...
5934     0.0           No
5935     0.2           No
5936     0.0           No
5937     0.2           No
5938     0.0           No

[2928 rows x 25 columns]
Cobar
      Unnamed: 0        Date Location MinTemp MaxTemp Rainfall Evaporation  \
5939        5939  2009-01-01    Cobar    17.9    35.2      0.0        12.0
5940        5940  2009-01-02    Cobar    18.4    28.9      0.0        14.8
5941        5941  2009-01-03    Cobar    15.5    34.1      0.0        12.6
5942        5942  2009-01-04    Cobar    19.4    37.6      0.0        10.8
5943        5943  2009-01-05    Cobar    21.9    38.4      0.0        11.4
...          ...         ...      ...     ...     ...      ...         ...
8922        8922  2017-06-21    Cobar     5.8    19.1      0.0      -99999
8923        8923  2017-06-22    Cobar     2.8    19.2      0.0      -99999
8924        8924  2017-06-23    Cobar     6.9    20.0      0.0      -99999
8925        8925  2017-06-24    Cobar     8.3    16.2      0.0      -99999
8926        8926  2017-06-25    Cobar     9.1    22.0      0.0      -99999

     Sunshine WindGustDir WindGustSpeed  ... Humidity3pm Pressure9am  \
5939     12.3         SSW          48.0  ...        13.0      1006.3
5940     13.0           S          37.0  ...         8.0      1012.9
5941     13.3          SE          30.0  ...         7.0      -99999
5942     10.6         NNE          46.0  ...        22.0      1012.3
5943     12.2         WNW          31.0  ...        22.0      1012.7
...       ...         ...           ...  ...         ...         ...
8922   -99999          SE          24.0  ...        34.0      1027.6
8923   -99999          NE          20.0  ...        29.0      1027.2
8924   -99999           W          33.0  ...        29.0      1022.2
8925   -99999         WSW          20.0  ...        49.0      1020.2
8926   -99999           W          28.0  ...        33.0      1020.2

     Pressure3pm Cloud9am Cloud3pm Temp9am Temp3pm RainToday RISK_MM  \
5939      1004.4      2.0      5.0    26.6    33.4        No     0.0
5940      1012.1      1.0      1.0    20.3    27.0        No     0.0
5941      1011.6   -99999      1.0  -99999    32.7        No     0.0
5942      1009.2      1.0      6.0    28.7    34.9        No     0.0
5943      1009.1      1.0      5.0    29.1    35.6        No     0.0
...          ...      ...      ...     ...     ...       ...     ...
8922      1025.3   -99999   -99999    11.2    19.1        No     0.0
8923      1024.1   -99999      2.0     9.6    18.8        No     0.0
8924      1019.0      6.0      8.0    11.1    18.6        No     0.0
8925      1018.5   -99999      7.0    14.2    14.5        No     0.0
8926      1017.4      1.0      3.0    13.0    20.8        No     0.0

     RainTomorrow
5939           No
5940           No
5941           No
5942           No
5943           No
...           ...
8922           No
8923           No
8924           No
8925           No
8926           No

[2988 rows x 25 columns]
CoffsHarbour
       Unnamed: 0        Date      Location MinTemp MaxTemp Rainfall  \
8927         8927  2009-01-01  CoffsHarbour    16.1    31.4      0.0
8928         8928  2009-01-02  CoffsHarbour    22.8    24.7      0.0
8929         8929  2009-01-03  CoffsHarbour    20.0    24.1      4.6
8930         8930  2009-01-04  CoffsHarbour    14.8    25.0      0.8
8931         8931  2009-01-05  CoffsHarbour    15.5    27.3      0.0
...           ...         ...           ...     ...     ...      ...
11875       11875  2017-06-21  CoffsHarbour    14.5    21.4      0.0
11876       11876  2017-06-22  CoffsHarbour    14.1    21.4      0.0
11877       11877  2017-06-23  CoffsHarbour     8.3    20.0      0.0
11878       11878  2017-06-24  CoffsHarbour    10.9    20.6      0.0
11879       11879  2017-06-25  CoffsHarbour     8.5    19.3      0.0

      Evaporation Sunshine WindGustDir WindGustSpeed  ... Humidity3pm  \
8927          7.4     11.4         NNE          54.0  ...        58.0
8928          8.0      0.2         SSW          56.0  ...        67.0
8929          3.4      0.2          SE          35.0  ...        59.0
8930          3.0     12.6           E          24.0  ...        45.0
8931          6.6     13.1          NE          41.0  ...        62.0
...           ...      ...         ...           ...  ...         ...
11875      -99999   -99999           S          39.0  ...        59.0
11876      -99999   -99999           S          30.0  ...        58.0
11877      -99999   -99999         SSE          20.0  ...        62.0
11878      -99999   -99999          SW          26.0  ...        51.0
11879      -99999   -99999          NW          17.0  ...        61.0

      Pressure9am Pressure3pm Cloud9am Cloud3pm Temp9am Temp3pm RainToday  \
8927       1005.9      1002.3      1.0      5.0    26.5    28.4        No
8928       1010.9      1011.4      7.0      7.0    23.4    24.4        No
8929       1019.3      1018.8      8.0      7.0    21.7    23.7       Yes
8930       1019.5      1017.0      5.0      2.0    22.5    24.8        No
8931       1015.7      1012.7      1.0      6.0    24.6    26.1        No
...           ...         ...      ...      ...     ...     ...       ...
11875      1023.8      1022.6   -99999      7.0    17.6    20.2        No
11876      1026.3      1023.4      1.0   -99999    18.5    20.4        No
11877      1022.7      1017.6   -99999   -99999    15.1    19.5        No
11878      1017.8      1015.7      7.0      1.0    16.4    20.0        No
11879      1020.2      1017.0      7.0      8.0    13.3    18.2        No

      RISK_MM RainTomorrow
8927      0.0           No
8928      4.6          Yes
8929      0.8           No
8930      0.0           No
8931      0.0           No
...       ...          ...
11875     0.0           No
11876     0.0           No
11877     0.0           No
11878     0.0           No
11879     0.0           No

[2953 rows x 25 columns]
Moree
       Unnamed: 0        Date Location MinTemp MaxTemp Rainfall Evaporation  \
11880       11880  2009-01-01    Moree    16.4    38.7      0.0        12.2
11881       11881  2009-01-02    Moree    22.3    30.3      0.0        11.2
11882       11882  2009-01-03    Moree    21.2    33.3      0.0         6.2
11883       11883  2009-01-04    Moree    16.4    33.5      0.0        11.2
11884       11884  2009-01-05    Moree    19.2    34.5      0.0        12.6
...           ...         ...      ...     ...     ...      ...         ...
14729       14729  2017-06-21    Moree     4.6    20.4      0.0      -99999
14730       14730  2017-06-22    Moree     6.5    21.5      0.0      -99999
14731       14731  2017-06-23    Moree     6.2    22.5      0.0      -99999
14732       14732  2017-06-24    Moree     4.8    21.3      0.0      -99999
14733       14733  2017-06-25    Moree     6.7    22.2      0.0      -99999

      Sunshine WindGustDir WindGustSpeed  ... Humidity3pm Pressure9am  \
11880      9.3          NW          54.0  ...        11.0      1005.5
11881      3.0         NNE          30.0  ...        40.0      1009.5
11882     11.7         ENE          46.0  ...        31.0      1014.9
11883     13.3         ENE          39.0  ...        28.0      1016.9
11884     13.4          SE          35.0  ...        22.0      1015.1
...        ...         ...           ...  ...         ...         ...
14729   -99999         SSW          28.0  ...        40.0      1025.7
14730   -99999           E          31.0  ...        37.0      1027.6
14731   -99999           E          31.0  ...        30.0      1023.6
14732   -99999         SSW          28.0  ...        30.0      1020.1
14733   -99999           W          19.0  ...        31.0      1021.0

      Pressure3pm Cloud9am Cloud3pm Temp9am Temp3pm RainToday RISK_MM  \
11880      1003.3      6.0      8.0    28.9    37.4        No     0.0
11881      1009.0      6.0      7.0    25.2    29.4        No     0.0
11882      1012.2      6.0      5.0    24.5    32.7        No     0.0
11883      1012.2      1.0      3.0    22.9    31.9        No     0.0
11884      1010.6      1.0      6.0    24.2    32.9        No     0.0
...           ...      ...      ...     ...     ...       ...     ...
14729      1022.8   -99999   -99999    11.9    20.1        No     0.0
14730      1023.8   -99999   -99999    12.8    21.2        No     0.0
14731      1018.7   -99999   -99999    13.4    21.9        No     0.0
14732      1017.5   -99999      3.0    11.3    21.0        No     0.0
14733      1017.7      5.0   -99999    11.4    21.7        No     0.0

      RainTomorrow
11880           No
11881           No
11882           No
11883           No
11884           No
...            ...
14729           No
14730           No
14731           No
14732           No
14733           No

[2854 rows x 25 columns]
Newcastle
       Unnamed: 0        Date   Location MinTemp MaxTemp Rainfall Evaporation  \
14734       14734  2008-12-01  Newcastle    13.2  -99999      0.0      -99999
14735       14735  2008-12-02  Newcastle  -99999    32.2      0.0      -99999
14736       14736  2008-12-03  Newcastle    16.2    32.2      0.0      -99999
14737       14737  2008-12-04  Newcastle    19.2    24.0      0.0      -99999
14738       14738  2008-12-05  Newcastle    18.8    30.2      0.0      -99999
...           ...         ...        ...     ...     ...      ...         ...
17684       17684  2017-06-20  Newcastle    13.5    19.8      0.6      -99999
17685       17685  2017-06-21  Newcastle     7.8    19.2      0.0      -99999
17686       17686  2017-06-22  Newcastle     9.2    19.2      0.2      -99999
17687       17687  2017-06-23  Newcastle     7.8    17.4      0.0      -99999
17688       17688  2017-06-24  Newcastle     9.4    19.9      0.0      -99999

      Sunshine WindGustDir WindGustSpeed  ... Humidity3pm Pressure9am  \
14734   -99999      -99999        -99999  ...        24.0      -99999
14735   -99999      -99999        -99999  ...        59.0      -99999
14736   -99999      -99999        -99999  ...        26.0      -99999
14737   -99999      -99999        -99999  ...        61.0      -99999
14738   -99999      -99999        -99999  ...      -99999      -99999
...        ...         ...           ...  ...         ...         ...
17684   -99999      -99999        -99999  ...      -99999      -99999
17685   -99999      -99999        -99999  ...      -99999      -99999
17686   -99999      -99999        -99999  ...      -99999      -99999
17687   -99999      -99999        -99999  ...      -99999      -99999
17688   -99999      -99999        -99999  ...      -99999      -99999

      Pressure3pm Cloud9am Cloud3pm Temp9am Temp3pm RainToday RISK_MM  \
14734      -99999      3.0      4.0    21.8    30.6        No     0.0
14735      -99999   -99999      0.0  -99999    25.4        No     0.0
14736      -99999      4.0      4.0    22.2    32.0        No     0.0
14737      -99999      7.0      5.0    20.4    23.0        No     0.0
14738      -99999      8.0   -99999    20.0  -99999        No     0.0
...           ...      ...      ...     ...     ...       ...     ...
17684      -99999      6.0   -99999    16.0  -99999        No     0.0
17685      -99999      0.0   -99999    11.9  -99999        No     0.2
17686      -99999      6.0   -99999    13.7  -99999        No     0.0
17687      -99999      4.0   -99999    10.0  -99999        No     0.0
17688      -99999      5.0   -99999    13.0  -99999        No     0.0

      RainTomorrow
14734           No
14735           No
14736           No
14737           No
14738           No
...            ...
17684           No
17685           No
17686           No
17687           No
17688           No

[2955 rows x 25 columns]
NorahHead
       Unnamed: 0        Date   Location MinTemp MaxTemp Rainfall Evaporation  \
17689       17689  2009-01-01  NorahHead    17.9    28.1      0.0      -99999
17690       17690  2009-01-02  NorahHead    19.1    23.8      0.0      -99999
17691       17691  2009-01-03  NorahHead    17.1    23.0      0.0      -99999
17692       17692  2009-01-04  NorahHead    19.7    25.0      0.0      -99999
17693       17693  2009-01-05  NorahHead    18.5    25.9      0.0      -99999
...           ...         ...        ...     ...     ...      ...         ...
20613       20613  2017-06-21  NorahHead    10.7    18.2      1.6      -99999
20614       20614  2017-06-22  NorahHead    11.7    17.7      0.0      -99999
20615       20615  2017-06-23  NorahHead    10.5    18.8      0.4      -99999
20616       20616  2017-06-24  NorahHead    11.0    18.8      0.0      -99999
20617       20617  2017-06-25  NorahHead    10.4    19.1      0.0      -99999

      Sunshine WindGustDir WindGustSpeed  ... Humidity3pm Pressure9am  \
17689   -99999         SSW          63.0  ...        69.0      1005.3
17690   -99999           S          69.0  ...        62.0      1012.5
17691   -99999         NNE          52.0  ...        62.0      1021.1
17692   -99999          NE          61.0  ...        68.0      1018.4
17693   -99999         NNE          48.0  ...        73.0      1013.4
...        ...         ...           ...  ...         ...         ...
20613   -99999           S          44.0  ...        74.0      1025.3
20614   -99999           S          22.0  ...        70.0      1027.8
20615   -99999         NNW          20.0  ...        73.0      1020.9
20616   -99999         WNW          24.0  ...        48.0      1017.5
20617   -99999         WNW          26.0  ...        45.0      1018.5

      Pressure3pm Cloud9am Cloud3pm Temp9am Temp3pm RainToday RISK_MM  \
17689      1001.7   -99999   -99999    23.7    25.9        No     0.0
17690      1012.8   -99999   -99999    22.6    23.0        No     0.0
17691      1019.1   -99999   -99999    20.0    22.1        No     0.0
17692      1015.2   -99999   -99999    22.8    23.7        No     0.0
17693      1009.0   -99999   -99999    22.8    23.7        No     0.0
...           ...      ...      ...     ...     ...       ...     ...
20613      1024.6   -99999   -99999    12.2    17.3       Yes     0.0
20614      1024.3   -99999   -99999    13.2    16.7        No     0.4
20615      1015.2   -99999   -99999    13.5    16.3        No     0.0
20616      1015.5   -99999   -99999    14.7    17.8        No     0.0
20617      1015.4   -99999   -99999    13.8    18.4        No     0.0

      RainTomorrow
17689           No
17690           No
17691           No
17692           No
17693           No
...            ...

In [48]:
g.get_group("Penrith")

,Unnamed: 0,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
23582,23582,2008-12-01,Penrith,15.2,32.6,0.0,-99999,-99999,WNW,59.0,...,23.0,-99999,-99999,-99999,-99999,24.4,31.3,No,0.0,No
23583,23583,2008-12-02,Penrith,15.0,31.7,0.0,-99999,-99999,ENE,28.0,...,38.0,-99999,-99999,-99999,-99999,20.4,30.1,No,0.0,No
23584,23584,2008-12-03,Penrith,15.9,33.4,0.0,-99999,-99999,NW,52.0,...,16.0,-99999,-99999,-99999,-99999,21.0,31.4,No,0.0,No
23585,23585,2008-12-04,Penrith,17.2,24.8,0.0,-99999,-99999,E,35.0,...,55.0,-99999,-99999,-99999,-99999,19.5,22.7,No,0.0,No
23586,23586,2008-12-05,Penrith,17.8,32.2,0.0,-99999,-99999,ENE,28.0,...,48.0,-99999,-99999,-99999,-99999,19.8,29.6,No,0.2,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,24995,2013-03-09,Penrith,16.5,30.0,0.0,-99999,-99999,NE,26.0,...,41.0,-99999,-99999,-99999,-99999,21.6,29.4,No,0.0,No
24996,24996,2013-03-10,Penrith,16.7,30.5,0.0,-99999,-99999,NE,24.0,...,44.0,-99999,-99999,-99999,-99999,21.3,29.0,No,0.0,No
24997,24997,2013-03-11,Penrith,18.3,29.8,0.0,-99999,-99999,ENE,26.0,...,49.0,-99999,-99999,-99999,-99999,20.6,28.2,No,0.0,No
24998,24998,2013-03-12,Penrith,17.5,28.1,0.0,-99999,-99999,NNE,22.0,...,54.0,-99999,-99999,-99999,-99999,21.2,26.8,No,0.0,No
24999,24999,2013-03-13,Penrith,15.4,30.9,0.0,-99999,-99999,NE,24.0,...,39.0,-99999,-99999,-99999,-99999,20.0,30.3,No,0.0,No

In [49]:
g.describe()

              Unnamed: 0                                                   \
                   count     mean         std      min       25%      50%
Location
Albury            3011.0   1505.0  869.345156      0.0    752.50   1505.0
BadgerysCreek     2928.0   4474.5  845.385119   3011.0   3742.75   4474.5
Cobar             2988.0   7432.5  862.705628   5939.0   6685.75   7432.5
CoffsHarbour      2953.0  10403.0  852.601998   8927.0   9665.00  10403.0
Moree             2854.0  13306.5  824.023159  11880.0  12593.25  13306.5
Newcastle         2955.0  16211.0  853.179348  14734.0  15472.50  16211.0
NorahHead         2929.0  19153.0  845.673794  17689.0  18421.00  19153.0
NorfolkIsland     2964.0  22099.5  855.777424  20618.0  21358.75  22099.5
Penrith           1418.0  24290.5  409.485653  23582.0  23936.25  24290.5

                                 RISK_MM                                      \
                    75%      max   count      mean        std  min  25%  50%
Location
Albury          2257.50   3010.0  3011.0  1.914381   6.229975  0.0  0.0  0.0
BadgerysCreek   5206.25   5938.0  2928.0  2.193101   7.383433  0.0  0.0  0.0
Cobar           8179.25   8926.0  2988.0  1.127309   4.403713  0.0  0.0  0.0
CoffsHarbour   11141.00  11879.0  2953.0  5.061497  17.444480  0.0  0.0  0.0
Moree          14019.75  14733.0  2854.0  1.630203   6.560710  0.0  0.0  0.0
Newcastle      16949.50  17688.0  2955.0  3.183892  10.882701  0.0  0.0  0.0
NorahHead      19885.00  20617.0  2929.0  3.387299   9.387137  0.0  0.0  0.0
NorfolkIsland  22840.25  23581.0  2964.0  3.127665   9.681335  0.0  0.0  0.2
Penrith        24644.75  24999.0  1418.0  2.243300   7.570784  0.0  0.0  0.0


               75%    max
Location
Albury         0.4  104.2
BadgerysCreek  0.4  116.0
Cobar          0.0   68.0
CoffsHarbour   2.0  371.0
Moree          0.0  113.0
Newcastle      1.0  240.0
NorahHead      1.6  126.4
NorfolkIsland  1.8  156.8
Penrith        0.4  115.4